:root {
    --utsa-orange: #f15a22;
    --utsa-blue: #0c2340;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--utsa-orange);
    height: 100vh;
}

.navbarCont {
    background-color: var(--utsa-blue);
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
}

.navbarCont a {
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-around;
    padding: 12px;
    text-decoration: none;
    color: var(--utsa-orange);
}

.navbarCont a.icon {
    padding: 0px;
}

.navbarCont a.title {
    font-size: 26.5px;
}

.navbarCont a.rightB {
    float: right;
    padding: 20px;
    margin: 0;
    color: #ecf0f1;
}

.navbarCont a.rightB:hover {
    background-color: #34495e
}

.navbarCont img {
    float: left;
}

.canvasCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border: solid black;
    border-radius: 20px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    border-top: solid black 1px;
    background-color: gray;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
}


.toolbarItems label, input {
    float: left;
    padding: 8px;
    font-size: 14px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.toolbarItems button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
    padding: 16px;
}

.strokePicker{
    margin: 2px;
    padding: 0;
}

.strokePicker:hover {
    cursor: pointer;
}


canvas {
    background-color: white;
    margin: 20px;
    align-self: center;
    height: 500px;
    width: 500px;
    image-rendering: pixelated;
}

@media screen and (max-width: 600px) {
    .navbarCont a.title {
        font-size: 18.5px;
        padding-left: 0px;
    }

    .navbarCont img {
        width: 80%;
    }

    .navbarCont {
        background-color: var(--utsa-blue);
        width: 100%;
        text-align: center;
    }
    
    .navbarCont a {
      /* possible hamburger menu for moblie users*/
      font-size: 10px;
    }

    canvas {
        background-color: white;
        margin: 20px;
        align-self: center;
        height: 500px;
        width: 500px;
    }
    
    .toolbar {
        font-size: 80%;
    }

    .toolbarItems label, input {
        float: left;
        padding: 4px;
        font-size: 7.5px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    }
    
    .toolbarItems button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        float: right;
        padding: 8px;
        padding-left: 24px;
    }

    .strokePicker{
        margin: 2px;
        height: 16px;
        width: 60px;
    }
    
    .strokePicker:hover {
        cursor: pointer;
    }
    
}