:root {
    --utsa-orange: #f15a22;
    --utsa-blue: #0c2340;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--utsa-orange);
    height: 100vh;
}

.navbarCont {
    position: relative;
    background-color: var(--utsa-blue);
    width: 100%;
    text-align: center;
    margin-bottom: 10vh;
}

.navbarCont a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    color: var(--utsa-orange);
}

.navbarCont a.icon {
    padding: 0px;
}

.navbarCont a.title {
    font-size: 26.5px;
}

.navbarCont a.rightB {
    float: right;
    padding: 20px;
    margin: 0;
    color: #ecf0f1;
}

.navbarCont a.rightB:hover {
    background-color: #34495e
}

.navbarCont img {
    float: left;
}

.canvasCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border: solid black;
    border-radius: 20px;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid black 1px;
    background-color: var(--utsa-blue);
    width: 100%;
    height: auto;
    margin-top: 11vh;
}

.toolbarItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
    color: white;
    text-align: center;
    height: 100%;
    width: 100px;
}

.strokePicker {
    padding: 0;
    margin: 0;
    width: 100%;
}

.strokePicker:hover {
    cursor: pointer;
}


canvas {
    background-color: white;
    margin: 20px;
    align-self: center;
    height: 500px;
    width: 500px;
    image-rendering: pixelated;
}

@media screen and (max-width: 600px) {
    .navbarCont a.title {
        font-size: 18.5px;
        padding-left: 0px;
    }

    .navbarCont img {
        width: 80%;
    }

    .navbarCont {
        position: relative;
        background-color: var(--utsa-blue);
        width: 100%;
        text-align: center;
        margin-bottom: 11vh;
    }
    
    .navbarCont a {
      /* possible hamburger menu for moblie users*/
      font-size: 10px;
    }

    canvas {
        background-color: white;
        margin: 20px;
        align-self: center;
        height: 500px;
        width: 500px;
  }
}